<h1>Autók</h1>
<!-- <div class="input-group mb-3">
<table class="table">
    <thead>
      <tr>
        <th scope="col">plate</th>
        <th scope="col">brand</th>
        <th scope="col">year</th>
        <th scope="col">price</th>
        <th scope="col">sold</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.plate}}</td>
            <td>{{vehicle.brand}}</td>
            <td>{{vehicle.year}}</td>
            <td>{{vehicle.price}}</td>
            <td>{{vehicle.sold}}</td>
          </tr>
    </tbody>
  </table> -->