<h1>Autók</h1>
<div class="input-group mb-3">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Rendszám</th>
        <th scope="col">Márka</th>
        <th scope="col">Év</th>
        <th scope="col">Ár</th>
        <th scope="col">Eladva</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.plate}}</td>
            <td>{{vehicle.brand}}</td>
            <td>{{vehicle.year}}</td>
            <td>{{vehicle.price}}</td>
            <td>{{vehicle.sold}}</td>
          </tr>
    </tbody>
  </table>
