<!--
* File: app.component.html
* Author: Szivák Gergő
* Copyright: 2022, Szivák Gergő
* Group: Szoft II/N
* Date: 2022-02-24
* Github: https://github.com/gergosz-2000/angjarat
* Licenc: GNU GPL
-->
<div class="nav nav-tabs justify-content-center">
  <div class="nav-item">
      <a href="/main" class="nav-link">Autók</a>
  </div>
  <div class="nav-item">
      <a href="/vehicles" class="nav-link">Új autó</a>
  </div>
  <div class="nav-item">
       <a href="/login" class="nav-link">Belépés</a>
  </div>
  <div class="nav-item">
      <a href="/register" class="nav-link">Regisztráció</a>
   </div>
</div>
<div class="container">
  <h1>Járat dolgozat</h1>
  <router-outlet></router-outlet>
</div>